@{
    ViewData["Title"] = "Book";
}

@using Bookish4._DataAccess
@model int;


<p>Here's the info for that book isbn:</p>

<ul>

    <li>
        @{
            <p>@Model</p>
        }
    </li>
</ul>