@{
    ViewData["Title"] = "Home Page";
}
@using System.Globalization
@model List<BookViewModel>;


<h1 class="display-4">Welcome to the Library</h1>

<p>Here's a list of your loaned book(s):</p>

<ul>
    @foreach (var loanedBook in Model)
    {
        var date = loanedBook.DueDate.ToString("d", CultureInfo.CreateSpecificCulture("en-GB"));
        <li>@loanedBook, due back on @date</li>
    }
</ul>